body {
  margin: 0;
  background: #ff7a00;
  font-family: Arial;
}

/* Header */
.top-header {
  position: relative;
  padding: 20px;
}

.time {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.icons {
  position: absolute;
  top: 20px;
  right: 20px;
}

.icon {
  width: 28px;
  margin-left: 10px;
}

.title {
  margin-top: 10px;
  font-size: 32px;
  font-weight: bold;
}

.card {
  background: white;
  width: 85%; /* biar nggak full, lebih simetris */
  max-width: 380px; /* kartu punya batas maksimal */
  margin: 20px auto; /* auto = kotak selalu di tengah */
  border-radius: 25px;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* opsional: biar lebih cakep */
}

.photo {
  width: 120px;
  border-radius: 60px;
}

.name {
  margin-top: 15px;
}

.label {
  margin-top: 20px;
  font-size: 18px;
  opacity: 0.7;
}

.clock {
  font-size: 42px;
  margin: 5px 0;
  color: #3c55d1;
}

.date {
  opacity: 0.7;
}

.divider {
  width: 100%;
  height: 1px;
  background: #ddd;
  margin-top: 20px;
}

/* Menu grid */
.menu-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  row-gap: 25px;
}

.menu-item img {
  width: 60px;
}

.menu-item p {
  margin-top: 8px;
  color: white;
  font-size: 18px;
}

/* Bottom nav */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #eaeaea;
  padding: 15px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  justify-content: space-between;
}

.nav-icon {
  width: 35px;
  margin: 0 25px;
}

/* POPUP TENGAH */
.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background: white;
  width: 85%;
  max-width: 380px;
  padding: 30px 25px;
  border-radius: 25px;
  text-align: center;
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.popup-photo {
  width: 120px;
  margin-top: 10px;
}

.popup-name {
  font-size: 20px;
  margin-top: 10px;
}

.popup-id {
  opacity: 0.6;
}

.popup-msg {
  margin: 15px 0;
  opacity: 0.75;
  font-size: 15px;
  line-height: 20px;
}

.popup-btn {
  width: 80%;
  background: #3c55d1;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 12px;
  margin-top: 15px;
  font-size: 17px;
  cursor: pointer;
}

.popup-btn-secondary {
  width: 80%;
  background: #ccc;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 12px;
  margin-top: 10px;
  font-size: 17px;
  cursor: pointer;
}
